@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: url("../assets/hero.png");
    background-repeat: no-repeat;
    border-color: #000000;
    border-width: 1px;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    height: 324px;
    padding: 40px 139px 0 139px;
}

.topHero {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1088px;
    margin: 0 auto;
}

.topHero h2 {
    font-weight: bold;
    font-size: larger;
}

.topHero ul {
    display: flex;
    gap: 50px;
    font-size: large;
}

.topHero li:first-child {
    color: #5863f8;
}

.topHero li:nth-child(2) {
    display: flex;
}

.topHero li:nth-child(2) img {
    margin-left: 6px;
}

.bottomHero {
    max-width: 1088px;
    margin: 0 auto;
    margin-top: 95px;
}

.bottomHero h1 {
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    color: #ffffff;
}

.bottomHero ul {
    margin-top: 21px;
}

.bottomHero li {
    color: #ffffff;
    display: inline;
}

.rooms {
    max-width: 1088px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 71px;
}

.rooms span {
    font-weight: bold;
    color: #5863f8;
}

.rooms h2 {
    width: 353px;
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    color: #000000;
    margin-bottom: 49px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.box {
    display: flex;
    background: #f8f8f8;
    width: 49%;
}

.box h4 {
    font-size: 18px;
    font-style: normal;
    color: #000000;
}

.box p {
    width: 260px;
    font-size: 14px;
    color: #b1b1b1;
    margin-top: 9px;
}

.data {
    margin: 37px 32px 36px 16px;
}

.box button {
    width: 60px;
    background: #5863f8;
    border: none;
    cursor: pointer;
}

.booking {
    background-color: #F8F8F8;
    margin-bottom: 6px;
}

.booking form {
    max-width: 1088px;
    margin: 0 auto;
    padding-bottom: 59px;
    display: flex;
    height: 190px;
    justify-content: space-between;
    align-items: flex-end;
}

.booking form div {
    display: flex;
    flex-direction: column;
}

.booking form label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #5863f8;
}

.booking form input {
    width: 260px;
    height: 60px;
    border-color: #ebebeb;
    border-width: 2px;
    border-style: solid;
    text-indent: 10px;
    background: #ffffff
}

.booking form button {
    width: 260px;
    height: 60px;
    border: none;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background: #5863f8
}

footer {
    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    background: #121212;
    height: 395px;
}

.footer {
    max-width: 1088px;
    margin: 0 auto;
    display: flex;
    padding-top: 93px;
    justify-content: space-between;
}

.leftFooter h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.leftFooter p {
    width: 260px;
    font-size: 14px;
    color: #b1b1b1;
    margin-top: 22px;
}

.footer h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 23px;
}

.footer li {
    font-size: 14px;
    color: #5863f8;
    margin-bottom: 13px;
}

.copyright {
    max-width: 1088px;
    margin: 0 auto;
    display: flex;
    padding-top: 93px;
    justify-content: space-between;
}

.copyright p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #B1B1B1;

}

.copyright a {
    font-size: 14px;
    color: #5863f8;
}